<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="HYYn edustajistovaalien tulos <%= Time.now.year -%>">
  <meta name="viewport" content="width=device-width">
  <title>HYYn vaalitulos <%= Time.now.year -%></title>
</head>
<body>
<pre>
HELSINGIN YLIOPISTON YLIOPPILASKUNNAN <%= "ALUSTAVA " if not result_decorator.final? -%>EDUSTAJISTOVAALITULOS <%= Time.now.year -%>


<% if result_decorator.final? -%>
Keskusvaalilautakunnan vahvistama <%= result_decorator.formatted_timestamp(:updated_at, :time => false) %>

Edustajiston j채senet on merkitty t채hdell채 (*).
Vaaliliitoista valitaan kaksi varaj채sent채 jokaista varsinaista j채sent채 kohden.
<% else -%>
Laskettu: <%= result_decorator.formatted_timestamp(:updated_at) %>

Lopullinen vaalitulos vahvistetaan tarkastuslaskennan j채lkeen.

Perusteet merkinn철ille:
- Edustajiston j채senet (l채pip채채sev채t ehdokkaat) on merkitty t채hdell채 (*). Vaali-
  liitoista valitaan kaksi varaj채sent채 jokaista l채pip채채sev채채 ehdokasta kohden.
- Tasatilanteessa ehdokas merkit채채n kysymysmerkill채 (?),
  kun saman vaaliliiton sis채ll채 useampi ehdokas on saanut saman 채채nim채채r채n ja
  l채pip채채sev채 ratkaistaan arvalla. L채pip채채sy arvotaan vaaliliiton sis채ll채.
- Rengasvertailuluvun tasatilanteessa ehdokas merkit채채n yht채suuruusmerkill채 (=),
  kun arvonta vaikuttaa l채pip채채syyn. L채pip채채sy arvotaan vaalirenkaiden kesken.
- Useampi saman liittovertailuluvun saman vaalirenkaan sis채ll채 saanut ehdokas
  merkit채채n (~), kun arvonta vaikuttaa l채pip채채syyn. L채pip채채sy arvotaan renkaan
  vaaliliittojen kesken.
- Saman kirjainyhdistelm채n 채채nim채채r채ns채 tai vertailulukunsa viereen saaneiden
  ehdokkaiden keskin채inen j채rjestys ratkeaa arvonnassa.
<% end -%>

<%# Vaalirenkaita yhteens채:   <%#= sprintf "%2d", coalition_count %>
<%# Vaaliliittoja yhteens채:   <%#= sprintf "%2d", alliance_count %>
<%# Ehdokkaita ilman liittoa: <%#= sprintf "%2d", allianceless_candidates %>
Ehdokkaita yhteens채:      <%= sprintf "%6d", Candidate.count %>
Valittavia ehdokkaita:    <%= sprintf "%6d", result_decorator.candidates_to_elect %>
횆채nioikeutettuja:         <%= sprintf "%6d", result_decorator.potential_voters %>
횆채ni채 annettu:            <%= sprintf "%6d", result_decorator.votes_given %>
횆채ni채 hyv채ksytty:         <%= sprintf "%6d", result_decorator.votes_accepted %>
횆채ni채 laskettu:           <%= sprintf "%6d (%.2f %%)", result_decorator.votes_counted, result_decorator.votes_counted_percentage %>
횆채nestysprosentti:        <%= sprintf "%6.2f", result_decorator.voting_percentage %> %

Ehdokkaat listattuna:
- <a href="#lvert">liittovertailuluvun mukaan</a>
- <a href="#rvert">rengasvertailuluvun mukaan</a>


RENKAAT________________________________________________________________횆횆NET_PA
<% result_decorator.coalition_results.by_vote_sum.each_with_index do |coalition_result, index| -%>
<%= result_decorator.coalition_result_line(coalition_result, index) %>
<% end -%>

LIITOT__________________________________________________________RENGAS_횆횆NET_PA
<% result_decorator.alliance_results.by_vote_sum.each_with_index do |alliance_result, index| -%>
<%= result_decorator.alliance_result_line(alliance_result, index) %>
<% end -%>


-------------------------------------------------------------------------------
<a name="lvert">EHDOKKAAT LIITOITTAIN J횆RJESTETTYN횆</a>
-------------------------------------------------------------------------------

<% result_decorator.coalition_results.by_vote_sum.each_with_index do |coalition_result, coalition_index| -%>
RENGAS_________________________________________________________________횆횆NET_PA
<%= result_decorator.coalition_result_line(coalition_result, coalition_index) %>

<% result_decorator.alliance_results_of(coalition_result).each_with_index do |alliance_result, alliance_index| -%>
LIITTO__________________________________________________________RENGAS_횆횆NET_PA
<%= result_decorator.alliance_result_line(alliance_result, alliance_index) %>
EHDOKKAAT___________________________NUM_LIITTO__횆횆NET___LVERT________RVERT_____
<% result_decorator.candidate_results_of(alliance_result).each_with_index do |candidate_result, candidate_index| -%>
<%= result_decorator.candidate_result_line(candidate_result, candidate_index) %>
<% end -%>

<% end -%>

<% end -%>

-------------------------------------------------------------------------------
<a name="rvert">EHDOKKAAT RENGASVERTAILULUVUN MUKAAN J횆RJESTETTYN횆</a>
-------------------------------------------------------------------------------

EHDOKKAAT___________________________NUM_LIITTO__횆횆NET___LVERT________RVERT_____
<% result_decorator.candidate_results_by_coalition_proportional_and_coalition_draw_order.each_with_index do |candidate, index| -%>
<%= result_decorator.candidate_result_line(candidate, index) %>
<% end -%>

</pre>
</body>
</html>
